/* header */

.logo {
    flex-direction: column;
    margin-right: auto;
}

/* heaer */

/* news */

.news__item-text {
    bottom: -40%;
}

/* news */

/* about */

.about__inner {
    flex-direction: column-reverse; 
}

.about__box-image {
    width: 430px;
    margin-bottom: 25px;
}

/* about */

/* blockquote */

.blockquote__image {
    width: 140px;
    height: 420px;
    object-fit: cover;
    display: none;
}

/* blockquote */

/* footer */

.footer__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* footer */